.chatScreen {

}

.chatScreen__timestamp {
  text-align: center;
  padding: 20px;
  color: gray;
}

.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen__message > p {
  margin-left: 10px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen__message-user > p {
  background-color: #29b3cd;
  color: white;
  margin-left: auto;
}

.chatScreen__input {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}

.chatScreen__input-field {
  flex: 1;
  padding: 10px;
  border: none;
}

.chatScreen__input-button {
  border: none;
  background: white;
  color: #fe3d71;
  margin-right: 20px;
  font-weight: bold;
}